/ TODO: uncomment and fulfill settings, when there will be settings to setup

/ h2.user-profile-title
/   = t('devise.registrations.edit')

/ = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |form|

/   .form-actions
/     = form.button :submit, t('devise.registrations.update_btn'), class: 'btn btn-outline-secondary'
