h2.schedule-title = schedule.name

p = schedule.additional_info

.schedule-events
  = render 'events/schedule_events', schedule: schedule

br/
br/

h3 = t('events.headers.add_event')

= render 'events/event_form'
