/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.


// Components
@import "./components/navbar.scss";
@import "./components/dropdown.scss";

// Components > admin
@import "./components/admin/admin_navbar.scss";

// Components > admin > tabs
@import "./components/admin/tabs/admin_users_table_tab.scss";

// Components > common
@import "./components/common/row_form.scss";
@import "./components/common/time_picker.scss";

// Components > schedules > index
@import "./components/schedules/index/schedules_table.scss";

// Components > schedules > show
@import "./components/schedules/show/schedule_controls.scss";

// Componens > events
@import "./components/events/events_table.scss";

// UI Blocker + Loaders
@import "react-block-ui/style.css";
@import "./components/block_ui.scss";
@import "loaders.css/loaders.min.css";
@import "./components/loader.scss";

// Libs
@import "bootstrap";
@import "antd/dist/antd.css";
@import "pickerjs/dist/picker.css";
// @import "font-awesome";

// @import "alertify";
// @import "alertify/default";
// @import "alertify/bootstrap";

@import "pickerjs/dist/picker";

#full-page-cover {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;
}

.pointer-loading * {
  cursor: wait !important;
  pointer-events: all;
}
