// >> RAILS_ENV={environment} bundle exec rake secret << at remote server (where you deploy an app) to generate secret
staging:
  secret_key_base: staging_key_here
production:
  secret_key_base: prod_key_here
