table.schedules-table {
  #new-schedule-form {
    cursor: pointer
  }

  tr.schedule-row {
    cursor: pointer;

    td {
      width: auto;

      &.schedule-actions {
        width: 15vw;

        * {
          float: right;
        }
      }

      &.add-info {
        width: 50vw;
      }

      &.name {
        width: 35vw;
      }
    }
  }
}

.schedule.form-row {
  &.edit {
    display: none;

    td.add-info {
      width: 50vw;
    }

    td.name {
      width: 35vw;
    }
  }

  &.new {
    display: none;
  }

  .schedule-actions {
    width: 15vw;

    * {
      float: right;
    }
  }
}
