table.schedules-table {
  #new-schedule-form {
    cursor: pointer
  }

  tr.schedule-row {
    cursor: pointer;

    td {
      width: auto;

      span {
        display: inline-block;
        padding: 3px 11px;
        width: 100%;
      }

      &.schedule-actions {
        width: 15vw;

        * {
          float: right;
        }
      }

      &.add-info {
        width: 50vw;
      }

      &.name {
        width: 35vw;
      }
    }
  }
}

.schedule.form-row {
  input {
    margin: 0 !important;
    padding: 2px 10px;
    height: 35px;
  }

  &.edit {
    display: none;

    td.add-info {
      width: 50vw;
    }

    td.name {
      width: 35vw;
    }
  }

  &.new {
    display: none;
  }

  .schedule-actions {
    padding-left: 12px;
    padding-right: 12px;
    width: 15vw;

    * {
      float: right;
    }
  }
}
