div.schedule-events {
  tr.weekday {
    th {
      border: none;
      border-bottom: 1px solid #dee2e6;
    }
  }

  tr.weekday-events {
    .event {
      th.time {
        width: 80px !important;
      }

      td.info {
        word-wrap: anywhere;
      }

      td.event-actions {
        * {
          float: right;
        }

        .btn.edit {
          margin-right: 5px;
        }
      }
    }
  }
}

.event.form-row {
  &.edit {
    display: none;
  }
}
