table.schedules-listing {
  td {
    width: auto;
  }

  td.schedule-actions {
    width: 15vw;

    * {
      float: right;
    }
  }

  td.add-info {
    width: 50vw;
  }

  td.name {
    width: 35vw;
  }
}

.schedule-form-row {
  &.edit {
    display: none;
  }

  &.new {
    display: none;
  }
}
