table.schedules-listing {
  td {
    width: auto;

    &.schedule-actions {
      width: 15vw;

      * {
        float: right;
      }
    }

    &.add-info {
      width: 50vw;
    }

    &.name {
      width: 35vw;
    }
  }
}

.schedule-form-row {
  &.edit {
    display: none;
  }

  &.new {
    display: none;
  }
}
