// Place all the styles related to the Schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.schedules-listing {
  td {
    width: auto;
  }

  .name {
    width: 25vw;
  }

  .add-info {
    width: 40vw;
  }
}
